* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}


#homeBanner {
  height: 300px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  z-index:-1;
}

#homeBanner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#homeBanner span {
  width: 5px;
  word-wrap: break-word;
}

#homeBanner div {
  color: #2f3b6d;
  font-weight: 900;
  font-size: 55px;
  position: absolute;
  top: 80px;
  right: 30px;
}

#ourFeatures{ 
  width:100%;
}

#ourFeatures h1{
  color:#FFA022;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;

}

.parentDiv{
  display: flex;
  flex-direction:row;
  align-items:flex-end;
  padding-top: 80px;
  width: 100%;
  height: 400px;
}
.child1{
  width:50%;
  height: 100%;
  min-width: 500px;

}
.imageDiv{
  width: 80%;
  height: 100%;
  margin: auto;
  min-width: 400px;
  min-width: 520px;
}

.imageDiv img{
  width: 100%;
  height: 100%;
}

.child2{
  width:48%;
  min-width: 520px;
}
.rightContentDiv{
  margin-left: auto;
  hyphens: auto;
  text-align:justify;
  text-align-last: right;
  padding:20px 20px;
  width:490px;
  font-size: 25px;
}

.rightContentDiv h2{
  font-size: 50px;
  color:#FFA022;
  padding: 20px 0px;
}

.leftContentDiv{
  margin-right: auto;
  hyphens: auto;
  text-align:justify;
  text-align-last: left;
  padding:20px 20px;
  width:490px;
  font-size: 25px;
}

.leftContentDiv h2{
  font-size: 50px;
  color:#FFA022;
  padding: 20px 0px;
}

#flexpackDiv{
  padding-top:20px;
  width:95%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  
}

#infraContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    align-items: center;
    margin: 40px auto;
    max-width: 85vw;
}

.infraInnerContainer{
  width:300px;
  height: 500px;
  margin: 20px;
  position:relative;

}

.infraInnerContainer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#container div img{
  height: 100%;
  width: 100%;
}

.infraInnerText{
  position:absolute;
  text-align: center;
  color:#2f3b6d;
  font-size: 18px;
  font-weight: bold;
}
